<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lokahi</title>
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css" crossorigin="anonymous">
<script src="https://use.fontawesome.com/ebf1c6b47e.js"></script>
</head>
<body>
<a href="/home" class="btn btn-primary">Lokahi</a>
<a href="/logout" class="btn btn-primary" float="right">Logout</a>
<h2>Create a New Group!</h2>
<form method="post" action="/createGroup/">
    <table>
        <tr>
            <td>Enter a group name:</td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td>Enter users to be added:</td>
            <td><input type="text" name="users"/></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Submit Form</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>