<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css" crossorigin="anonymous">
<script src="https://use.fontawesome.com/ebf1c6b47e.js"></script>

<head>
    <meta charset="UTF-8">
    {% if user.admin_status %}
        <title>Investor Home Page (Admin)</title>
    {% else %}
        <title>Investor Home Page</title>
    {% endif %}
</head>
<body>
<a href="/home" class="btn btn-primary">Lokahi</a>
<a href="/logout" class="btn btn-primary" float="right">Logout</a>
<h2>Investor Home Page Placeholder</h2>


<a href="/createGroup">
<div class="panel-body center">
    <i class="fa fa-file-text fa-5x center-icon" aria-hidden="true"></i>
    <p>Create a Group</p>
</div>
</a>

<a href="/viewreports">
<div class="panel-body center">
    <i class="fa fa-file-text fa-5x center-icon" aria-hidden="true"></i>
    <p>View Reports</p>
</div>
<a href="/viewGroups">
<div class="panel-body center">
    <i class="fa fa-file-text fa-5x center-icon" aria-hidden="true"></i>
    <p>View Your Groups</p>
</div>
</a>

{% if user.admin_status %}
    <a class="btn btn-primary btn-lg" href="/displayusers">View Site Users</a>
{% endif %}
</body>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</html>