<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LFC Signup </title>
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/ebf1c6b47e.js"></script>

<style>
  body {
    background-color: #E8E8E8 !important;
  }
</style>

</head>
<body>
<center>
<h2>New Member Sign Up</h2>
</center>
<br>
<div class="container-fluid">
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Input your information below</h3>
            </div>
            <div class="panel-body">
                <form action="/signup/" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" />
                    <a href="/home"><input type="button" value="Cancel"/></a>
                </form>
            </div>
          </div>
        </div>
      </div>
            <center>
        <p style="color: mediumvioletred">{{response}}</p>
            </center>
    </div>

<!--<a href="/home" class="btn btn-primary">Return Home</a>-->
</body>
</html>