<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LFC Signup </title>
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/ebf1c6b47e.js"></script>
</head>
<body>
<h2>New Member Sign Up</h2>
<form action="/signup/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
<p style="color: mediumvioletred">{{response}}</p>
</body>
</html>