<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5;url=/home">
    <title>Success</title>
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/ebf1c6b47e.js"></script>
</head>
<body>
<br>
<br>
<center>
<h2>Sign Up Was Succesful</h2>
<br>
<h3>You will be redirected home in 5 seconds</h3>
</center>
<p></p>
<!--<button><a href="/home/">Return Home</a></button>-->
</body>
</html>