<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
<table class="table table-striped">
<tr>
  <th>Username</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Admin Status</th>
    <th>Active</th>
    <th>Edit User</th>

</tr>
{% for b in obj %}
<tr>
  <td>{{ b.username }}</td>
  <td>{{ b.first_name }}</td>
  <td>{{ b.last_name }}</td>
  <td>{{ b.admin_status }}</td>
    <td>{{ b.is_active }}</td>
  <td><a class="btn btn-primary btn-sml" href="/edituser/{{ b.pk }}/">Change Status</a></td>
</tr>
{% endfor %}
</table>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>