<!DOCTYPE html>
<html lang="en">

<body>


<a href="/home" class="btn btn-primary">Lokahi</a>
<a href="/logout" class="btn btn-primary" float="right">Logout</a>
<br><br/>

<form action="/search/" method="post">
    <input type="text" name="search" placeholder="Search..">
</form>


<br><br/>

<center>

{% for report in reports %}
    <div>
        <p>Company Name: {{ report.company_name }}</p>
        <p>Phone Number: {{ report.company_phone}}</p>
        <p>CEO : {{ report.ceo }}</p>
        <p>Email : {{ report.company_email }}</p>
        <p>Location : {{ report.company_location }}</p>
        <p>Country : {{ report.company_country }}</p>
        <p>Sector : {{ report.company_sector }}</p>
        <p>Industry : {{ report.company_industry }}</p>
        <p>Location : {{ report.company_location }}</p>
        <p>Projects : {{ report.company_projects }}</p>

    <br><br/>
    </div>
{% endfor %}

</center>

<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css" crossorigin="anonymous">
<script src="https://use.fontawesome.com/ebf1c6b47e.js"></script>

</body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>