<!DOCTYPE html>
<html lang="en">

<head>
  <style>
  body {
    background-color: #E8E8E8 !important;
  }
</style>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home"><strong>Lokahi</strong></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="/home">Dashboard</a></li>
        <li><a href="/viewreports">Reports</a></li>
        <li><a href="/viewGroups">Groups</a></li>
          <li><a href="/viewmessages">Messages</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<h2 style="float:left">&nbsp; &nbsp; Your Messages </h2>

<a href="/createmessage"><input type="button" class="btn btn-default" value="Send a New Message" style="float:right; margin-right:5%;"/></a>
</div>
<br><br/>
<br><br/>
<br><br/>
<center>


{% for message in messages %}
    <div>
        <p>Message Sender: {{ message.message_sender }}</p>
        {% if message.message_encrypted == False %}
        <p>Message Content: {{ message.message_content }}</p>

        <a href="/deletemessage/{{ message.id }}" class="btn btn-primary" float="right">Delete Message</a>

        {% else %}
            <p>Message Content: Encrypted</p>
            <form method='post' action="/keyupload/{{ message.pk }}" enctype="multipart/form-data"> <!-- Clicking submit takes you back to home page -->
                {% csrf_token %}
                    {{ form.as_p }}
                    <center>



                        <br><br>

                    <button type="submit" class="btn btn-primary">Decrypt</button>
                        <a href="/deletemessage/{{ message.id }}" class="btn btn-primary" float="right">Delete Message</a>
                    </center>
                </form>

        {% endif %}

    <br><br/>
    </div>
{% endfor %}

{% if messages.noMessages %}
    <center>
    <h3>You have no messages to show!</h3>
    </center>
{% endif %}

</center>

<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css" crossorigin="anonymous">
<script src="https://use.fontawesome.com/ebf1c6b47e.js"></script>

</body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>